<% content_for :head do %>
	<%= stylesheet_link_tag "static_pages/yanstein_prototype" %>
	<%= javascript_include_tag "static_pages/yanstein_prototype"%>
<% end %>
<div class="side-bar"></div>
<div class="screen"></div>
<div class="tip">TIP: Use key "n" to go to the next screen, "b" to go to the previous, and "ctrl" to see all the screens.</div>